@model IEnumerable<OnlineHelpDesk.Areas.Admin.Models.Facility>

@{
    ViewData["Title"] = "FacilityList";
}

<h1>FacilityList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityCategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityCategory.FacilityCategoryId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FacilityId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FacilityId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FacilityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
