@using Newtonsoft.Json;
@using System.Net.Http;
@using System.Net.Http.Json;
@model IEnumerable<OnlineHelpDesk.Areas.Admin.Models.RequestSample>

@{
    ViewData["Title"] = "RequestSampleList";
    var view = JsonConvert.SerializeObject(ViewBag.data);
    
}

@view

<h1>RequestSampleList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilityCategoryId)
            </th>
            <th>
                Facility Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < view.Length; i++)
        {
            <tr>
                <td>
                    @view[i].FacilityCategoryId
                </td>
                <td>
                    @view[i].CategoryName
                </td>
                <td>
                    @view[i].Content
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@view[i].RequestSampleId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@view[i].RequestSampleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
